<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
  <a class="navbar-brand" href="/homepage">Produits</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/homepage" routerLinkActive="active">Liste</a>
    </div>
  </div>
  <a class="navbar-brand" href="/admin">Admin</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"routerLink="/admin" routerLinkActive="active">Liste</a>
      <a class="nav-item nav-link" routerLink="/creatProduct" routerLinkActive="active">Ajouter</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
